@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-base-background
}

body, input, select, textarea, checkbox, radio {
  font-family: 'Nunito'; 

  @apply text-base-text
}